<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" height="1080" id="https://github.com/SamsungDForum/NativePlayer" version="1.0.0" viewmodes="maximized" width="1920">
    <access origin="*" subdomains="true"/>
    <tizen:application id="0Nf3BPEsam.native2" package="0Nf3BPEsam" required_version="2.3"/>
    <content src="index.html"/>
    <tizen:content-security-policy>*</tizen:content-security-policy>
    <description>Description of your widget</description>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="resources/NaClPlayer_logo.png"/>
    <name>Native Player</name>
    <tizen:profile name="tv"/>
    <tizen:setting background-support="disable" context-menu="enable" encryption="enable" hwkey-event="enable" install-location="auto"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/drmplay"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/drminfo"/>
    <tizen:privilege name="http://tizen.org/privilege/appmanager.certificate"/>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
</widget>
